.popup__container {
    position: relative;
    background-color: #FFFFFF;
    min-width: 430px;
    border-radius: 10px;
    max-height: 330px;
    padding-bottom: 37px;
}

@media screen and (max-width: 767px) {
    .popup__container {
    min-width: 282px;
    max-height: 322px;
    padding-bottom: 25px;
    }
  }