.form__fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    margin-bottom: 48px;
    margin-left: 0;
    margin-right: 0;

}

@media screen and (max-width: 767px) {
    .form__fieldset {
        margin-bottom: 45px;
    }
}